{% extends "base.html" %}

{% block title %}
Sakura House
{% endblock %}

{% block content %}

<section class="about-home">

    <div class="about-home-content">

        <p class="about-label">
            SAKURA HOUSE
        </p>

        <h1>
            Ласкаво просимо
        </h1>

        <p>
            Sakura House — це кафе японської кухні,
            де традиційні рецепти поєднуються
            із сучасним підходом.
        </p>

        <p>
            У нашому меню ви знайдете свіжі суші,
            роли, сети, рамен та інші популярні
            японські страви.
        </p>

        <p>
            Ми створили Sakura House для тих,
            хто цінує якісну їжу, спокійну атмосферу
            та справжній смак Японії.
        </p>

        <p class="about-japanese">
            美味しい時間
        </p>

    </div>

</section>

{% endblock %}